In [ ]:
#0) What: Test steps 1,2,3 in local Postgres instance
#Who: Bryan/Jesse

#1) What: Create a second table(s) within Postgres. I suggest just adding "_cleaned" to the name and use the same prefix. 
#The schema will remain the same. William - any objections here? We don't have a dev/staging Postgres instance, do we? 
#Who: Jesse

#2a) What: Take Bryan's new Python and test each 'rule,' adding logic for writing to Postgres/the new 'cleaned' table.
#Who: Bryan/Jesse

#2b) What: Add logic for alerts (SendGrid); fire alert when issue found, correction made.
#Who: Jesse

#3) What: Verify that results look good in *_cleaned table(s).
#Who: Bryan/Jesse/William(?)/anyone else who wants to help test

#4) What: Set up cron job to run, initially, every 4-6 hours. Review results and make sure that:
#Data is not thrown out, unnecessarily altered/integrity is retained
#Any data corrections are done properly
#Review / tweak anything else (see Bryan's notes in Asana: "Data Cleaning Notes" under "Data Science Brainstorming")
#Who: Bryan/Jesse

#5) What: After 5-7 days of testing, 'deploy.' Cron job does not need to run as often; decide on interval. 
#Who: Jesse

#6) What: Point all relevant queries to *_cleaned table(s)
#Who: Bryan/Jesse/Emily


#Will it tell the difference between an account that is consistently down or inconstently down.
#After missing a reading, does a sensor ever get back to 100% (visualize this)
#csv of sensor ids, date, and percentage (goes to a website?)
#can it pull the peron's first and last names 
#first name last name (sensor id), dates, percentages below

In [164]:
import datetime
import pandas as pd
import numpy as np
import psycopg2
import csv
import time

In [184]:
try:
    connection = psycopg2.connect(database ='heatseek', user = 'heatseekroot', password = 'wearecoolsoweseekheat')
    cursor = connection.cursor() #Open a cursor to perform operations
    
    cursor.execute('SELECT * from users') #Executes the query
    users = cursor.fetchall() #cursor.fetchone() for one line, fetchmany() for multiple lines, fetchall() for all lines
    users = pd.DataFrame(users) #Saves 'users' as a pandas dataframe
    users_header = [desc[0] for desc in cursor.description] #This gets the descriptions from cursor.description 
    #(names are in the 0th index)
    users.columns = users_header #PD array's column names
    
    cursor.execute('SELECT * FROM readings;')
    readings = cursor.fetchall()
    readings = pd.DataFrame(readings)
    readings_header = [desc[0] for desc in cursor.description]
    readings.columns = readings_header
    
    cursor.execute('SELECT * FROM sensors;')
    sensors = cursor.fetchall()
    sensors = pd.DataFrame(sensors)
    sensors_header = [desc[0] for desc in cursor.description]
    sensors.columns = sensors_header
    
    cursor.close() 
    connection.close()
    
except psycopg2.DatabaseError, error:
    print 'Error %s' % error

In [121]:
sensors_with_users_raw = np.intersect1d(users.id.unique(), sensors.user_id.unique()) #Returns the common ids in both the datasets.
#sensors.loc[sensors.user_id, sensors_with_users]
sensors_with_users = []
for ids in sensors_with_users_raw:
    sensors_with_users.append(int(ids))

In [118]:
#This function will return if a sensor is polling faster than once per hour (i.e., test cases)
    #It doesn't exist yet

In [174]:
#THIS HAS TO BE RUN ON CLEAN DATA THAT HAS REMOVED CASES WHERE SENSORS ARE POLLING FASTER THAN ONCE PER HOUR.
#This function takes (start date, end date, sensor id), returns % of failure
def sensor_down(data, start_date, end_date, sensor_id): 
    
    #This pulls up the tennant's first and last name.
    try:
        tennant_id = sensors.loc[sensors.id == sensor_id].user_id.values[0]
        tennant_first_name = users.loc[users.id == tennant_id].first_name.values[0]
        tennant_last_name = users.loc[users.id == tennant_id].last_name.values[0]
    #Are these really not assigned?
    except ValueError:
        tennant_first_name = 'Not'
        tennant_last_name = 'Assigned'
    except IndexError:
        tennant_first_name = 'Not'
        tennant_last_name = 'Assigned'
        
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    sensor_readings = data.loc[data.sensor_id == sensor_id]
    
    #Converting to timestamps
    for i in sensor_readings.index.values: #Iterates through all the index values
        sensor_readings.loc[i, 'created_at'] = pd.Timestamp(sensor_readings.created_at[i])

    #Using a boolean mask to select readings between the two dates 
    #(http://stackoverflow.com/questions/29370057/select-dataframe-rows-between-two-dates)   
    mask = (sensor_readings['created_at'] > start_date) & (sensor_readings['created_at'] <= end_date)
    masked_sensor_readings = sensor_readings.loc[mask] #Get all readings between the two dates
    masked_sensor_readings = masked_sensor_readings.sort_values('created_at')
    #We then calculate how many hours have passed for that specific sensor and date range
    try:
        sensor_readings_start_date = masked_sensor_readings.loc[masked_sensor_readings.index.values[0], 'created_at']
        sensor_readings_end_date = \
        masked_sensor_readings.loc[masked_sensor_readings.index.values[len(masked_sensor_readings)-1], 'created_at']
        timedelta_in_seconds =  sensor_readings_end_date - sensor_readings_start_date #This returns Timedelta object
        timedelta_in_seconds = timedelta_in_seconds.total_seconds()
        total_number_of_hours = timedelta_in_seconds/3600 + 1 #The +1 fixes the rounding error for now but IDK why yet.
    except IndexError:
        return [tennant_first_name, tennant_last_name, sensor_id, "No valid readings."]
    
    proportion_of_uptime =len(masked_sensor_readings)/total_number_of_hours
    
    return [tennant_first_name, tennant_last_name, sensor_id, proportion_of_uptime*100]

In [16]:
#print sensor_down(readings, '2015-01-01', '2015-06-01', 19)
#users.loc[users['id'] == 19].first_name
#readings

In [168]:
#This function creates a simulated dataset of readings.
def simulate_data(start_date, end_date, polling_rate, sensor_id): #polling_rate in minutes
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)

    #how many hours between the two dates:
    timedelta_in_seconds = end_date-start_date
    total_number_of_hours = timedelta_in_seconds.total_seconds()/(polling_rate*60)
    
    #Create an empty pandas dataframe
    index = xrange(1,int(total_number_of_hours)+1)
    columns = ['created_at', 'sensor_id']
    simulated_readings = pd.DataFrame(index = index, columns = columns)
    simulated_readings.loc[:,'sensor_id'] = sensor_id
    
    #Populate it with columns of 'create_at' dates
    time_counter = start_date
    for i in simulated_readings.index.values:
        simulated_readings.loc[i,'created_at'] = time_counter
        time_counter = time_counter + pd.Timedelta('00:%s:00' % polling_rate)

    return simulated_readings

In [162]:
#Testing stuff
#simulated_data = simulate_data('2015-01-01', '2015-01-31', 60, 30)
#print sensor_down(readings, '2015-01-01', '2016-01-01', 26) #I think this works
#print sensor_down(simulated_data, '2015-01-01', '2015-01-31', 30) #There's some rounding error

for user_id in sensors_with_users:
    #latest_id = sensors.loc[sensors.user_id==ids].id
    #latest_id = latest_id.index.values[len(latest_id)-1]
    #print sensors.loc[sensors.user_id == ids].id
    #try:
    print sensor_down(readings, '2015-01-01', '2016-01-01', sensors.loc[sensors.user_id == user_id].id.values[0])
    #print users.loc[users.id == user_id].first_name
    #except IndexError:
    #print "Error."
    #print sensors.loc[sensors.user_id == user_id].id.values[0]

[4    Harold
Name: first_name, dtype: object, 4    Cooper
Name: last_name, dtype: object, 8, 'No valid readings.']
[58    Bill
Name: first_name, dtype: object, 58    De Blasio
Name: last_name, dtype: object, 9, 'No valid readings.']
[55    Live Update
Name: first_name, dtype: object, 55    Account0
Name: last_name, dtype: object, 10, 'No valid readings.']
[54    Live Update
Name: first_name, dtype: object, 54    Account1
Name: last_name, dtype: object, 12, 'No valid readings.']
[56    Live Update
Name: first_name, dtype: object, 56    Account2
Name: last_name, dtype: object, 13, 'No valid readings.']
[51    Live Update
Name: first_name, dtype: object, 51    Account4
Name: last_name, dtype: object, 15, 'No valid readings.']
[12    Rebecca
Name: first_name, dtype: object, 12    Sharp
Name: last_name, dtype: object, 166, 'No valid readings.']
[59    Carmen
Name: first_name, dtype: object, 59    Vega-Rivera
Name: last_name, dtype: object, 176, 'No valid readings.']
[74    Anonymous
Name: first_name, dtype: object, 74    Tenant
Name: last_name, dtype: object, 39, 139.4709963723453]
[67    Anonymous
Name: first_name, dtype: object, 67    Tenant
Name: last_name, dtype: object, 38, 294.93691627068654]
[61    Anonymous
Name: first_name, dtype: object, 61    Tenant
Name: last_name, dtype: object, 22, 81.3953488372093]
[82    Anonymous
Name: first_name, dtype: object, 82    Tenant
Name: last_name, dtype: object, 24, 19.51206292640294]
[81    Nicole
Name: first_name, dtype: object, 81    Carty
Name: last_name, dtype: object, 25, 12.760388974850315]
[79    Malaika
Name: first_name, dtype: object, 79    Quashie
Name: last_name, dtype: object, 26, 25.531847828085557]
[77    Juan
Name: first_name, dtype: object, 77    Mendoza
Name: last_name, dtype: object, 36, 'No valid readings.']
[72    Nicolas
Name: first_name, dtype: object, 72    Orosco
Name: last_name, dtype: object, 29, 35.25795723183984]
[85    Palemon
Name: first_name, dtype: object, 85    Galvez
Name: last_name, dtype: object, 31, 32.12011274983168]
[92    Jose
Name: first_name, dtype: object, 92    Vicente Tacuri
Name: last_name, dtype: object, 32, 32.460334731948]
[91    Pedro
Name: first_name, dtype: object, 91    Marin
Name: last_name, dtype: object, 33, 33.60059843401591]
[90    Florencia
Name: first_name, dtype: object, 90    Tapia
Name: last_name, dtype: object, 34, 31.28638352581541]
[89    Manuel
Name: first_name, dtype: object, 89    Yuicela
Name: last_name, dtype: object, 35, 34.41283606920803]
[19    Civic Hall
Name: first_name, dtype: object, 19    Test Account 1
Name: last_name, dtype: object, 42, 'No valid readings.']
[5    Civic Hall
Name: first_name, dtype: object, 5    Test Account 2
Name: last_name, dtype: object, 43, 'No valid readings.']
[20    Nicole
Name: first_name, dtype: object, 20    Evangelista
Name: last_name, dtype: object, 44, 'No valid readings.']
[14    Adrianne
Name: first_name, dtype: object, 14    Living Room
Name: last_name, dtype: object, 152, 'No valid readings.']
[6    Adrianne
Name: first_name, dtype: object, 6    Jeffries Room
Name: last_name, dtype: object, 144, 'No valid readings.']
[23    Adrianne
Name: first_name, dtype: object, 23    Jeffries Colgate's Room
Name: last_name, dtype: object, 130, 'No valid readings.']
[25    Victoria
Name: first_name, dtype: object, 25    Watts
Name: last_name, dtype: object, 123, 'No valid readings.']
[70    Zui
Name: first_name, dtype: object, 70    Mo
Name: last_name, dtype: object, 139, 'No valid readings.']
[87    Blue Ridge
Name: first_name, dtype: object, 87    Labs
Name: last_name, dtype: object, 179, 'No valid readings.']
[95    Susana
Name: first_name, dtype: object, 95    Robalino
Name: last_name, dtype: object, 193, 'No valid readings.']
[104    Noel
Name: first_name, dtype: object, 104    Hidalgo
Name: last_name, dtype: object, 102, 'No valid readings.']
[98    Louis
Name: first_name, dtype: object, 98    Bradford
Name: last_name, dtype: object, 93, 'No valid readings.']
[101    Christophe
Name: first_name, dtype: object, 101    Veyssier
Name: last_name, dtype: object, 168, 'No valid readings.']
[103    Denton
Name: first_name, dtype: object, 103    Sterling
Name: last_name, dtype: object, 121, 'No valid readings.']
[106    Armando
Name: first_name, dtype: object, 106    Suarez-Cobian
Name: last_name, dtype: object, 58, 'No valid readings.']
[94    Tyler
Name: first_name, dtype: object, 94    Wenzel
Name: last_name, dtype: object, 132, 'No valid readings.']
[113    David
Name: first_name, dtype: object, 113    McCreery
Name: last_name, dtype: object, 169, 'No valid readings.']
[109    Ivo
Name: first_name, dtype: object, 109    Rodrigues
Name: last_name, dtype: object, 171, 'No valid readings.']
[110    Michael
Name: first_name, dtype: object, 110    Kasino
Name: last_name, dtype: object, 107, 'No valid readings.']
[114    Dale
Name: first_name, dtype: object, 114    Goodson
Name: last_name, dtype: object, 89, 'No valid readings.']
[115    Elizabeth
Name: first_name, dtype: object, 115    Ziff
Name: last_name, dtype: object, 174, 'No valid readings.']
[119    Eric
Name: first_name, dtype: object, 119    Schles
Name: last_name, dtype: object, 156, 'No valid readings.']
[147    Lisa
Name: first_name, dtype: object, 147    Mathis
Name: last_name, dtype: object, 228, 'No valid readings.']
[152    Kenny
Name: first_name, dtype: object, 152    Harewood
Name: last_name, dtype: object, 155, 'No valid readings.']
[155    Valerie
Name: first_name, dtype: object, 155    McPherson
Name: last_name, dtype: object, 133, 'No valid readings.']
[184    Jane
Name: first_name, dtype: object, 184    Angel
Name: last_name, dtype: object, 145, 'No valid readings.']
[195    Dara
Name: first_name, dtype: object, 195    Soukamneuth
Name: last_name, dtype: object, 167, 'No valid readings.']
[187    Helen
Name: first_name, dtype: object, 187    Pugmire
Name: last_name, dtype: object, 178, 'No valid readings.']
[183    Redoneva
Name: first_name, dtype: object, 183    Andrews
Name: last_name, dtype: object, 181, 'No valid readings.']
[185    Annery
Name: first_name, dtype: object, 185    Ortiz
Name: last_name, dtype: object, 214, 'No valid readings.']
[182    Adrianne
Name: first_name, dtype: object, 182    Santiago
Name: last_name, dtype: object, 158, 'No valid readings.']
[188    Wanda
Name: first_name, dtype: object, 188    Young
Name: last_name, dtype: object, 153, 'No valid readings.']
[190    Miguel
Name: first_name, dtype: object, 190    Rios
Name: last_name, dtype: object, 159, 'No valid readings.']
[116    Nancy
Name: first_name, dtype: object, 116    De Jesús
Name: last_name, dtype: object, 88, 'No valid readings.']
[118    Virgen
Name: first_name, dtype: object, 118    Martinez-Lopez
Name: last_name, dtype: object, 90, 'No valid readings.']
[145    Tanya
Name: first_name, dtype: object, 145    Thomas
Name: last_name, dtype: object, 273, 'No valid readings.']
[125    Sunshine
Name: first_name, dtype: object, 125    Jerido
Name: last_name, dtype: object, 275, 'No valid readings.']
[127    Flay
Name: first_name, dtype: object, 127    Harper
Name: last_name, dtype: object, 187, 'No valid readings.']
[120    Maria
Name: first_name, dtype: object, 120    Escobar
Name: last_name, dtype: object, 161, 'No valid readings.']
[121    Erin
Name: first_name, dtype: object, 121    Whittendale
Name: last_name, dtype: object, 180, 'No valid readings.']
[124    Enerstin
Name: first_name, dtype: object, 124    Williams
Name: last_name, dtype: object, 128, 'No valid readings.']
[123    Odalis
Name: first_name, dtype: object, 123    Polanco
Name: last_name, dtype: object, 201, 'No valid readings.']
[128    Constance
Name: first_name, dtype: object, 128    Taylor
Name: last_name, dtype: object, 191, 'No valid readings.']
[122    David
Name: first_name, dtype: object, 122    Olshefski
Name: last_name, dtype: object, 136, 'No valid readings.']
[132    Indira
Name: first_name, dtype: object, 132    Rodney
Name: last_name, dtype: object, 194, 'No valid readings.']
[142    Janelle
Name: first_name, dtype: object, 142    Gedeon
Name: last_name, dtype: object, 195, 'No valid readings.']
[130    Lilia
Name: first_name, dtype: object, 130    Lawson
Name: last_name, dtype: object, 269, 'No valid readings.']
[139    Charles
Name: first_name, dtype: object, 139    Cordrey
Name: last_name, dtype: object, 27, 'No valid readings.']
[141    Roylyn
Name: first_name, dtype: object, 141    Henery
Name: last_name, dtype: object, 292, 'No valid readings.']
[148    Desiree
Name: first_name, dtype: object, 148    Browne
Name: last_name, dtype: object, 11, 'No valid readings.']
[149    Aurelia
Name: first_name, dtype: object, 149    Cruz
Name: last_name, dtype: object, 276, 'No valid readings.']
[153    Iris
Name: first_name, dtype: object, 153    Brown
Name: last_name, dtype: object, 283, 'No valid readings.']
[150    Arlene
Name: first_name, dtype: object, 150    Riley
Name: last_name, dtype: object, 160, 'No valid readings.']
[151    Janice
Name: first_name, dtype: object, 151    Lee
Name: last_name, dtype: object, 284, 'No valid readings.']
[171    Beatrice
Name: first_name, dtype: object, 171    Rodriguez
Name: last_name, dtype: object, 67, 'No valid readings.']
[159    Loraine
Name: first_name, dtype: object, 159    Dellamore
Name: last_name, dtype: object, 19, 21.55698019653193]
[163    Rita
Name: first_name, dtype: object, 163    Kettrles
Name: last_name, dtype: object, 190, 'No valid readings.']
[157    Carolyn
Name: first_name, dtype: object, 157    Butler
Name: last_name, dtype: object, 271, 'No valid readings.']
[158    Annette
Name: first_name, dtype: object, 158    Cummings
Name: last_name, dtype: object, 154, 'No valid readings.']
[172    Tammy
Name: first_name, dtype: object, 172    Brake
Name: last_name, dtype: object, 184, 'No valid readings.']
[162    Denise
Name: first_name, dtype: object, 162    Johnson
Name: last_name, dtype: object, 274, 'No valid readings.']
[170    Ramona
Name: first_name, dtype: object, 170    Garcia
Name: last_name, dtype: object, 285, 'No valid readings.']
[161    Wanda
Name: first_name, dtype: object, 161    Perez
Name: last_name, dtype: object, 268, 'No valid readings.']
[168    Julio
Name: first_name, dtype: object, 168    Belmonte
Name: last_name, dtype: object, 282, 'No valid readings.']
[173    Hazel-Ann
Name: first_name, dtype: object, 173    FTC
Name: last_name, dtype: object, 267, 'No valid readings.']
[181    Christopher
Name: first_name, dtype: object, 181    Lamar
Name: last_name, dtype: object, 98, 'No valid readings.']
[178    Korima
Name: first_name, dtype: object, 178    Rock
Name: last_name, dtype: object, 85, 'No valid readings.']
[193    Nioka
Name: first_name, dtype: object, 193    Jenkins
Name: last_name, dtype: object, 288, 'No valid readings.']
[196    Yolanda
Name: first_name, dtype: object, 196    Rosado
Name: last_name, dtype: object, 277, 'No valid readings.']

In [175]:
#This function generates a report; we might want to make this a cron job.
def generate_report(start_date, end_date):
    report = []
    sensor_ids = readings.sensor_id.unique()
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)
    for ids in sensor_ids:
        report.append(sensor_down(readings, start_date, end_date, ids))
    return report

In [185]:
tic = time.clock()

report = generate_report('2015-01-01','2016-01-01')
header =['FirstName', 'LastName', 'SensorID', 'PercentageUptime']

toc = time.clock()
toc - tic

1569.7073620084743

In [187]:
csvoutput = open('report.csv', 'wb')
writer = csv.writer(csvoutput)
writer.writerow(header)
for i in report:
    writer.writerow(i)
csvoutput.close()

In [ ]:
#What criteria do we want to use.

#SENSOR NUMBERS AS IDENTIFIERS, SOME DEGREE OF SEVERITY OF PROBLEM (CATEGORICAL)

#for the criteria we go, how do we define "bad"
#total days
#proportion of days (or clusters?)
#temperature discrepancy
#multiple apartments in the same building (how many % of the apartments in a building and how bad)
#multiple buildings by the same landlord (how many % of the buildings a landlord owns are bad)
#are our sensors failing in a specific building?

#Getting rid of test cases:
#1. Can we just delete by test IDs?
#2. If testing was separated by a minute, we can find all test cases by looping through all users,
#  and if they have a bunch of data that was collected within minutes, delete the user?

#We first convert the string dates into datetime format
sensordata['formatteddate'] = sensordata.created_at.apply(lambda x: pd.to_datetime(x,  format = "%Y-%m-%d %H:%M"))

#Then, one way of telling if a user_id was an actual user or a test case was to calculate the average timedelta for each user_id.
#Timedeltas of 1min are tests, 1 hour are users (don't know if this is always true, but if no user has an average polling rate
#of 1 min, we can use a bunch of methods to filter away test cases step by step).

sensordata['averagetimedelta'] = 0.00 #makes a new column

for i in sensordata.user_id.unique(): #for each user
    timelist = sensordata.loc[sensordata.user_id == i, 'formatteddate'] #this gives us a list of all their times in timestamp
    timedeltas = [] 
    for j in range(1, len(timelist)-1):
        timedeltas.append(timelist.iloc[j] - timelist.iloc[j-1]) #list of differences in time between time point j and j-1
    try:
        #we print the user_id, followd by their average time delta from point j to j-1
        print i, abs(sum(timedeltas, datetime.timedelta(0)))/len(timedeltas) #the average timedelta
    except ZeroDivisionError: #some cases have too few points (and results in a zero division error)
        #instead of breaking with we encounter a zerodivisionerror, just print the following:
        print i, "Too few data points?"
    sensordata.loc[sensordata.user_id == i, 'averagetimedelta'] = averagetimedeltas.total_seconds()

#3. If user ids are recycled, we'll have to do a combination of those things.

#Some sensors

In [322]:
#Triage
#We want to have a measure of which users are facing the most chronic problems.

#Metric combining temperature difference and chronicity of problems

#Write some code that subsets all the violation == 't' cases
sensordataviolations = sensordata[sensordata.violation == 't'] #here it is.

#Hackiest method: just number of violations/numberof nonviolations and sort users by that
#That is, which users have had the most violations given the total number of readings 

violationsovertime = []

for i in sensordata.user_id.unique():
    nonviolations = sensordata.loc[sensordata.user_id == i, 'violation'].value_counts()['f'] #Number of violations = 'f'
    try:
        violations = sensordata.loc[sensordata.user_id == i, 'violation'].value_counts()['t'] #Number of violations = 't'
    except KeyError:
        violations = 0    
    sensordata.loc[sensordata.user_id == i, 'vfreq'] = float(violations)/float(nonviolations)
    violationsovertime.append([i, (float(violations)/float(nonviolations))])

#violations over time gives first the user_id, then the proportion of how many of their readings are violations

In [ ]:
#Stuff to do for fun

#Variability/consistency
#Which buildings have the least/most variable temperatures?
#For this, we just calculate within-person variability (how much do sensor temperatures by the same user) vary as a function of time
#We an use this same process to calculate variability between locations (e.g., just calculate variance for each location)

In [ ]:
#Now, we loop over all unique users in the dataset and generate a measure of how long they've had the sensor running
sensordata['totaltime'] = 0
sensordata['vfreq'] = 0

for i in sensordata.user_id.unique():
    firstentry = len(sensordata.loc[sensordata.user_id==i,'formatteddate']) #This gives us the index of the first timepoint
    lasttime = sensordata.loc[sensordata.user_id == i, 'formatteddate'].iloc[0] #This was the timestamp of the latest timepoint
    firsttime =  sensordata.loc[sensordata.user_id == i, 'formatteddate'].iloc[firstentry-1] #This was the timestamp of the first timepoint
    sensordata.loc[sensordata.user_id == i, 'totaltime'] = lasttime - firsttime #This is the timedelta (over how long a period readings were made)
    #print i, lasttime-firsttime

In [183]:
#sensors.user_id.value_counts()
#sensordata.violation.value_counts() #This returns the number of 't's and 'f's
#np.sort(userdata.id.unique())
#np.intersect1d(userdata.id.unique(), sensordata.user_id.unique()) #Returns the common ids in both the datasets.
#readings.sensor_id.unique

,id,created_at,updated_at,address,first_name,last_name,encrypted_password,reset_password_token,reset_password_sent_at,remember_created_at,...,current_sign_in_at,last_sign_in_at,current_sign_in_ip,last_sign_in_ip,email,permissions,search_first_name,search_last_name,zip_code,sensor_codes_string
90,146,2015-02-24 00:30:30.376431,2015-02-24 14:25:41.991301,545 W 146th St Apt 64,Florencia,Tapia,$2a$10$G7FfZHPuzmwNp09PGZEDNeVxTHV0ocGcU07xajY...,None,None,NaT,...,NaT,NaT,None,None,545w146thstapt64@heatseeknyc.com,100,florencia,tapia,10031,None